##  Step 1: Basics Refresher (Variables, Data Types, Loops, Functions)

In [4]:
# Basic of Python
## Variables and Data Types

a = "Naveet"
b = 2
c = 2.5

print(a)
print(b)
print(c)

Naveet
2
2.5

In [6]:
# 2. Input & Output

name = input("Enter your name : ")
print("Your name is :", name)

Enter your name : Navi
Your name is : Navi

In [10]:
# 3. Basic Arithmetic Operations

a = 1
b = 2
print(a + b)
print(a - b)
print( a/b)
print(a*b)

3
-1
0.5
2

In [15]:
# 4. Conditional Statements

a = int(input("Enter the 1st number:"))
b = int(input("Enter the 2nd number:"))
if a > b:
  print("A is greater")
elif a == b:
  print("A is equal to b")
else:
  print(" B is Greater")

Enter the 1st number:21
Enter the 2nd number:20
A is greater

In [22]:
# 5. Loops (for and while)
for i in range (5):
  print(i)

0
1
2
3
4

In [28]:
count = 0

while count < 5:
  print("Count:", count)
  count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [30]:
# 6. Functions
def greet(name):
  print("Hello:", name)
greet(input("Enter your name:"))

Enter your name:Naveet
Hello: Naveet

## Step1: Project work

## ðŸŽ¯ Mini Project: Simple Calculator

Now, let's build a calculator that can:

âœ… Add
âœ… Subtract
âœ… Multiply
âœ… Divide

**Step 1: Plan**

*   Ask the user for two numbers.
*   Ask the user to choose an operation (+, -, \*, /).
*   Perform the operation and display the result.
*   Handle errors (like division by zero).

In [39]:
# Step 2: Code
def calculator():
  print("Welcome to simple calculator!")
# Taking input
calculator()
num1 = float(input("Enter the 1st number:"))
num2 = float(input("Enter the 2nd number:"))
# Choosing operation
operations = input("Enter the operation (+, -, *, /):")

# performing calculation
if operations == "+":
  print(num1+num2)
elif operations == "-":
  print(num1-num2)
elif operations == "*":
  print(num1*num2)
elif operations == "/":
  if num2 != 0:
    print(num1/num2)
  else:
    print("Division by zero is not allowed")
else:
  print("Invalid operation")

Welcome to simple calculator!
Enter the 1st number:10
Enter the 2nd number:20
Enter the operation (+, -, *, /):*
200.0

## ðŸŽ¯ Mini Project: Table up to 10

Now, let's create a table:

* Concepts Used: Loops, Functions

####  How It Works:

* The user enters a number.
* The program prints its multiplication table up to 10.

In [41]:
def table1():
  print("Your Table is as below:")

  num1 = int(input("Enter the Number:"))
  for i in range(1,11):
    print(num1,"*",i, "=", num1*i)
table1()

Your Table is as below:
Enter the Number:10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## Step 2: Lists, Tuples, and Dictionaries
#### Mini Project: To-Do List Manager (Store and manage tasks using lists and dictionaries)

In [42]:
# âœ… Lists (Ordered, Mutable)
name = ["Naveet","Dalip","Rohit Bharadwaj","Simran"]
name

['Naveet', 'Dalip', 'Rohit Bharadwaj', 'Simran']

In [43]:
# add new item in the list
name.append("Sandeep")
name

['Naveet', 'Dalip', 'Rohit Bharadwaj', 'Simran', 'Sandeep']

In [44]:
# Deleting one item from the List
name.remove("Dalip")
name

['Naveet', 'Rohit Bharadwaj', 'Simran', 'Sandeep']

In [62]:
# Inserting new item in the List

name.insert(1,"Dalip")
name

['Naveet', 'Dalip', 'Rohit Bharadwaj', 'Simran', 'Dalip', 'Sandeep']

In [64]:
# âœ… Tuples (Ordered, Immutable)
name = ("Naveet","Dalip","Rohit Bharadwaj","Simran")
name

('Naveet', 'Dalip', 'Rohit Bharadwaj', 'Simran')

In [67]:
# Checking position of the item in the tuple
name.index("Dalip")

1

In [71]:
name.count(("Simran","Naveet"))

0

In [78]:
# âœ… Dictionaries (Key-Value Pairs, Mutable)
name = {"Name": ["Naveet","Dalip","Rohit Bharadwaj","Simran"],"Age": [20,30,31,32],"City":["Dinanagar","Pathankot","Pathankot","Amritsir"]}
name

{'Name': ['Naveet', 'Dalip', 'Rohit Bharadwaj', 'Simran'],
 'Age': [20, 30, 31, 32],
 'City': ['Dinanagar', 'Pathankot', 'Pathankot', 'Amritsir']}

In [81]:
# Update the Dictionaries
name.update({"Gender":["Male","Male","Male","Female"]})
name

{'Name': ['Naveet', 'Dalip', 'Rohit Bharadwaj', 'Simran'],
 'Age': [20, 30, 31, 32],
 'City': ['Dinanagar', 'Pathankot', 'Pathankot', 'Amritsir'],
 'Gender': ['Male', 'Male', 'Male', 'Female']}

#### 1ï¸âƒ£ To-Do List Manager: Project âœ…

Concepts Used: Lists, Loops, Functions

ðŸ”¹ How It Works:

* The user can add tasks, remove tasks, and view the list.
* The program runs in a loop until the user decides to exit.

In [89]:
def todo_list():
  tasks = []

  while True:
    print("\n1.Add Task\n2. Remove Task\n3. View Tasks\n4. Exit")
    choice = input("Enter your choice (1/2/3/4):")
    if choice == "1":
      tasks.append(input("Enter the task:"))
      print("Task has been added")
    elif choice == "2":
      task = input("Enter the task to remove:")
      if task in tasks:
        tasks.remove(task)
        print("Task has been removed")
      else:
        print("Task not found")
    elif choice == "3":
      print(tasks)
    elif choice == "4":
      print("Exiting... Have productive day!")
      break
    else:
      print("Invalid choice")
todo_list()

1.Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1/2/3/4):1
Enter the task:Naveet
Task has been added

1.Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1/2/3/4):2
Enter the task to remove:Naveet
Task has been removed

1.Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1/2/3/4):3
[]

1.Add Task
2. Remove Task
3. View Tasks
4. Exit
Enter your choice (1/2/3/4):4
Exiting... Have productive day!

## âœ… Exception Handling (Try & Except)

In [91]:
try:
  result = 10/0
except ZeroDivisionError:
  print("Division by zero is not allowed")

Division by zero is not allowed

## ðŸŽ¯ Mini Projects

1ï¸âƒ£ Expense Tracker ðŸ’°

**Concepts Used:** File Handling, Lists, Exception Handling

ðŸ”¹ How It Works:

* The user adds expenses with a description and amount.
* The data is stored in a file so it doesnâ€™t reset when the program closes.
* The user can view expenses and see the total amount spent.

In [ ]:
def add_expense():
  try:
    description = input("Enter the Expense Description:")
    amount = float(input("Enter the Expense Amount:"))

    with open("expenses.txt","a") as file:
      file.write(f"{description} - {amount:.2f}\n")
    print("Expenses has been added successfully!")
  except ValueError:
    print("Invalid amount. Please enter a valid number.")
def view_expense():
  try:
    with open("expenses.txt","r") as file:
      expenses = file.read()
      print("Expenses:")
      print(expenses)
  except FileNotFoundError:
    print("No expenses found.")
while True:
  print("\n1. Add Expense\n2. View Expenses\n3. Exit")
  choice = input("Enter your choice (1\ 2\ 3)")
  if choice =="1":
    add_expense()
  elif choice =="2":
    view_expense()
  elif choice =="3":
    print("Exiting...")
    break

1. Add Expense
2. View Expenses
3. Exit
Enter your choice (1\ 2\ 3)2
Expenses:
Soap - $80.00
Soap,80.0
Soap - 80.00
Soap - 80.00
Gel - 200.00


1. Add Expense
2. View Expenses
3. Exit